body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: rem(30) rem(55);
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: rem(30) rem(55);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px 100px;
	.lock & {
		visibility: visible;
	}
}

.popup__close {
	width: rem(30);
	height: rem(30);
	border-radius: 50%;
	border: 1px solid $mainColorText;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transform: rotate(-135deg);
	background-color: $mainColorBg;
	right: 0;
	top: 0;
	outline: none;
	transition: opacity 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.8;
		}
	}
	&::before {
		content: "+";
		font-weight: 300;
		font-size: rem(36);
		color: $accentColor;
	}
}
