//<BUTTONS (a.btn+tab)>

.button {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	color: $white;
	box-sizing: border-box;
	border-radius: rem(25);
	width: 100%;
	transition:
		opacity 0.3s ease 0s,
		text-decoration 0.3s ease 0s;

	&_small {
		padding: rem(11);
		width: rem(167);
		font-size: rem(13);
		@media (max-width: $tablet) {
			width: 100%;
		}
	}

	&_medium {
		padding: rem(14);
		width: rem(264);
		font-size: rem(20);
	}

	&_dark-tangerine {
		background-color: $dark-tangerine;
	}

	&_dark-cerulean {
		background-color: $dark-cerulean;
		@media (max-width: $tablet) {
			background-color: inherit;
			border-radius: 25px;
			border: 2px solid $white;
		}
	}

	&_white {
		background-color: $white;
	}

	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
		}
		&:active {
			opacity: 0.6;
		}
	}
}
