// Заголовки, общие БЭМ блоки и прочее...
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

//========================================================================================================================================================
.marquee {
	background: center / contain repeat-x
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='368' height='81' fill='none'%3E%3Cpath fill='%23979493' d='m61.3 44.98 6.38-16.15h3.69l-8.55 20.14c-.24.56-.51 1.1-.81 1.64-.3.52-.67.98-1.1 1.4-.43.4-.97.73-1.6.97a6.6 6.6 0 0 1-2.37.37 10.66 10.66 0 0 1-1.66-.13l.1-2.56a7.5 7.5 0 0 0 1.5.08c.63 0 1.13-.13 1.5-.38.36-.25.65-.58.87-.96.23-.4.44-.8.63-1.21l1.41-3.2Zm-5.44-16.15 6.73 15.06.8 2.97-2.7.2-8.41-18.23h3.58ZM76.2 28.83h3.1l7.92 19.7 7.9-19.7h3.13L88.42 53H86l-9.8-24.17Zm-1.01 0h2.74l.45 14.74V53h-3.2V28.83Zm21.31 0h2.74V53h-3.18v-9.43l.44-14.74ZM120.66 39.22v2.6h-13.08v-2.6h13.08Zm-12.58-10.4V53h-3.2V28.83h3.2Zm15.37 0V53h-3.19V28.83h3.19ZM131.73 38.67h6.6c1.76 0 3.26.3 4.48.9a6.31 6.31 0 0 1 2.77 2.47c.63 1.07.94 2.31.94 3.74a7.8 7.8 0 0 1-.53 2.92 6.4 6.4 0 0 1-1.57 2.3 7.27 7.27 0 0 1-2.58 1.49c-1.01.34-2.19.51-3.52.51h-9.03V28.83h3.2v21.56h5.83a5.6 5.6 0 0 0 2.88-.64 4.06 4.06 0 0 0 1.62-1.73 5.15 5.15 0 0 0 0-4.5 3.75 3.75 0 0 0-1.62-1.61 5.85 5.85 0 0 0-2.88-.61h-6.59v-2.63Zm20.92-9.84V53h-3.2V28.83h3.2ZM161.9 47.46l11.9-18.63h3.2V53h-3.2V34.36L161.9 53h-3.19V28.83h3.19v18.63Zm8.5-24.63h2.49a4.1 4.1 0 0 1-2.3 3.87c-.75.38-1.63.57-2.65.57a5.2 5.2 0 0 1-3.65-1.23 4.2 4.2 0 0 1-1.33-3.2h2.5c0 .65.18 1.22.56 1.72.37.5 1.01.75 1.92.75.89 0 1.52-.25 1.9-.75.37-.5.56-1.07.56-1.72ZM199.65 31.24h4c1.4 0 2.69.23 3.87.7a9.2 9.2 0 0 1 5.21 5.09c.5 1.18.75 2.5.75 3.93 0 1.44-.25 2.76-.75 3.95a9.26 9.26 0 0 1-5.21 5.12c-1.19.46-2.47.7-3.87.7h-4a9.63 9.63 0 0 1-6.99-2.7 9.25 9.25 0 0 1-2.07-3.08c-.5-1.2-.74-2.51-.74-3.95 0-1.44.25-2.75.74-3.94a9.2 9.2 0 0 1 5.2-5.11c1.18-.48 2.47-.71 3.86-.71Zm0 2.52a7 7 0 0 0-3.69.91c-1 .6-1.77 1.44-2.29 2.53a8.7 8.7 0 0 0-.78 3.8c0 1.1.15 2.08.44 2.97a5.79 5.79 0 0 0 3.44 3.74c.83.34 1.8.5 2.88.5h4.03c1.44 0 2.66-.29 3.66-.89 1-.6 1.77-1.45 2.29-2.54.53-1.1.8-2.37.8-3.82 0-1.08-.16-2.07-.45-2.95a6.32 6.32 0 0 0-1.31-2.28 5.63 5.63 0 0 0-2.11-1.46 7.47 7.47 0 0 0-2.88-.51h-4.03Zm3.55-5.93V54h-3.07V27.83h3.07ZM220.87 47.46l11.9-18.63h3.2V53h-3.2V34.36L220.87 53h-3.19V28.83h3.19v18.63ZM250.24 28.83V53h-3.16V28.83h3.16Zm7.76 0v2.62h-18.67v-2.62H258ZM277.38 39.22v2.6H264.3v-2.6h13.08Zm-12.58-10.4V53h-3.2V28.83h3.2Zm15.37 0V53h-3.19V28.83h3.19ZM301.22 50.4V53h-12.8v-2.6h12.8Zm-12.15-21.57V53h-3.2V28.83h3.2Zm10.45 10.4v2.6h-11.1v-2.6h11.1Zm1.53-10.4v2.62h-12.63v-2.62h12.63ZM319.78 45.31h3.19c-.17 1.53-.6 2.9-1.32 4.1a7.66 7.66 0 0 1-3 2.88c-1.3.7-2.91 1.04-4.85 1.04a8.6 8.6 0 0 1-6.84-3.05 10.57 10.57 0 0 1-1.92-3.54 15.08 15.08 0 0 1-.67-4.61v-2.41c0-1.7.22-3.23.67-4.6.45-1.38 1.1-2.57 1.94-3.55a8.67 8.67 0 0 1 3.07-2.28c1.2-.53 2.54-.8 4.03-.8 1.83 0 3.38.35 4.64 1.04a7.37 7.37 0 0 1 2.93 2.85c.71 1.2 1.15 2.6 1.32 4.2h-3.2a8.87 8.87 0 0 0-.85-2.9 4.49 4.49 0 0 0-1.8-1.9 6.09 6.09 0 0 0-3.04-.66 5.71 5.71 0 0 0-4.88 2.36 8.1 8.1 0 0 0-1.22 2.7 13.75 13.75 0 0 0-.42 3.5v2.45c0 1.18.12 2.3.37 3.33a8.86 8.86 0 0 0 1.14 2.74c.51.79 1.16 1.4 1.94 1.86.79.44 1.72.67 2.8.67 1.35 0 2.44-.22 3.25-.65a4.24 4.24 0 0 0 1.82-1.86c.42-.8.72-1.78.9-2.9Z'/%3E%3C/svg%3E");
	width: 100%;
	height: rem(96);
	border: rem(3) solid #ffffff;
	animation: marquee 35s linear infinite;

	@media (max-width: $mobile) {
		display: none;
	}

	@media (min-width: $tablet) {
		@include adaptiveValue("height", 150, 90);
	}

	@media (any-hover: hover) {
		&:hover {
			animation-play-state: paused;
		}
	}
}
@keyframes marquee {
	from {
		background-position: 0px 0px;
	}

	to {
		background-position: 150% 0px;
	}
}

//========================================================================================================================================================
.title {
	font-family: $fontFamilyTitle;
	font-weight: 600;
	@media (max-width: $mobile) {
		@include adaptiveValue("font-size", 40, 30);
		line-height: 1.27;
	}
	@media (max-width: $tablet) {
		@include adaptiveValue("font-size", 50, 40);
		line-height: 1.2;
	}
	@media (min-width: $tablet) {
		@include adaptiveValue("font-size", 60, 50);
		line-height: 1.16;
	}

	// .title_sub

	&_sub {
		font-family: $fontFamilyTitle;
		font-weight: 600;
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 26, 18);
			line-height: 1.43;
		}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 38, 26);
			line-height: 1.5;
		}
		@media (min-width: $tablet) {
			@include adaptiveValue("font-size", 38, 36);
			line-height: 1.44;
		}
	}
	// .title_list
	&_list {
		font-family: $fontFamily;
		font-weight: 700;
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 16, 14);
			line-height: 1.43;
		}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 18, 16);
			line-height: 1.5;
		}
		@media (min-width: $tablet) {
			@include adaptiveValue("font-size", 20, 18);
			line-height: 1.44;
		}
	}

	&_price {
		@media (max-width: $mobile) {
			font-size: rem(34);
			line-height: 1.24;
		}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 48, 34);
			line-height: 1.4;
		}
		@media (min-width: $tablet) {
			@include adaptiveValue("font-size", 60, 48);
			line-height: 1.3;
		}
	}

	&_form {
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 24, 16);
			line-height: 1.38;
		}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 28, 24);
			line-height: 1.4;
		}
		@media (min-width: $tablet) {
			@include adaptiveValue("font-size", 36, 28);
			line-height: 1.3;
		}
	}

	&_decor {
		color: #e6bdca;
	}

	&_decor-dark {
		color: #804e5d;
	}

	&_decor-accent {
		color: $accentColor;
	}

	&_space {
		margin-left: rem(15);
		margin-right: rem(15);
	}

	&_more-l {
		display: none;
		@media (min-width: rem(1250)) {
			display: block;
		}
	}

	&_more-m {
		display: none;
		@media (min-width: $mobile) {
			display: block;
		}
	}
}

.description {
	font-weight: 300;
	@media (max-width: $mobile) {
		font-size: rem(14);
		line-height: 1.57;
	}
	@media (max-width: $tablet) {
		@include adaptiveValue("font-size", 16, 14);
		line-height: 1.5;
	}
	@media (min-width: $tablet) {
		@include adaptiveValue("font-size", 18, 16);
		line-height: 1.44;
	}
}

//========================================================================================================================================================
// .swiper-paginations
.swiper-paginations {
	display: flex;
	justify-content: center;
	padding-top: rem(25);
	padding-bottom: rem(20);
	gap: rem(10);

	@media (min-width: $mobile) {
		display: none;
	}

	.swiper-pagination-bullet {
		width: rem(9);
		height: rem(9);
		background-color: #b4ccc9;
		opacity: 1;

		&-active {
			outline: rem(1) solid #8a858b;
			outline-offset: rem(4);
		}
	}
}

.slider-button-next {
	padding: rem(5);
	position: absolute;
	bottom: 10%;
	right: 10%;
	transition: opacity 0.3s ease 0s;
	z-index: 3;
	&::after {
		content: "";
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='94' height='16' fill='none'%3E%3Cpath fill='%23645567' d='M93.7 8.7c.4-.4.4-1 0-1.4L87.3.9A1 1 0 1 0 86 2.3L91.6 8l-5.7 5.7a1 1 0 0 0 1.4 1.4l6.4-6.4ZM0 9h93V7H0v2Z'/%3E%3C/svg%3E");
		display: block;
		width: rem(94);
		height: rem(16);
	}
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.6;
		}
		&:active {
			opacity: 0.4;
		}
	}

	@media (max-width: $mobile) {
		display: none;
	}

	@media (min-width: $tablet) {
		bottom: 29%;
	}
}

.feedback__swiper-pagination {
	display: flex;
	justify-content: center;
	padding-top: rem(25);
	padding-bottom: rem(20);
	gap: rem(10);

	.swiper-pagination-bullet {
		width: rem(9);
		height: rem(9);
		background-color: #b4ccc9;
		opacity: 1;

		&-active {
			outline: rem(1) solid #8a858b;
			outline-offset: rem(4);
		}
	}
}
